

.form-container {
  box-sizing: border-box;
  padding: 0 8px;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}
.form-container::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}


.pop-up {
  padding: 25px;
  background-color: #fff;
  border-left: 10px solid #3fa3d4;
}

.pop-up h4 {
  position: relative;
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 12px;
}
.pop-up h4::after {
    content: "";
  background-color: #f83941;
  bottom: 0;
  height: 3px;
  left: 0;
  position: absolute;
  width: 40px;
}


.form li {
  float: left;
  width: 100%;
}
.form-group {
  margin-bottom: 18px;
}
.append-icon,
.img-404,
.prepend-icon {
  position: relative;
}
.prepend-icon input,
.prepend-icon select,
.prepend-icon textarea {
  padding-left: 38px !important;
}
.form-control {
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 12px 15px;
  transition: all 0.2s ease-out 0s;
  vertical-align: middle;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.append-icon i,
.prepend-icon i {
  color: #777;
  font-size: 13px;
  left: 2px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  width: 40px;
}

.btn {
  background: #30b39c;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn i {
  color: #fff;
  padding-right: 6px;
  font-size: 14px;
}

.btn-close {
  font-family: Arial, Baskerville, monospace;
  font-size: 28px;
  font-style: normal;
  opacity: 0.65;
  position: absolute;
  right: 0;
  top: 25px;
  width: 44px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  cursor: pointer;
  color: #333;
}
.form-group {
  margin-bottom: 18px;
}

.form-group span {
  font-size: 13px;
  color: #444;
  margin-left: 5px;
}


.form-group span {
  font-size: 13px;
  color: #444;
  margin-left: 5px;
}

