
.coming-soon { 
  padding: 40px 0 0 !important;
}
.background-desk {
  background: url(../images/bg-desk.png) center bottom  repeat-x;
}

h1 {
    font-size: 20px;
    padding-top: 60px;
    margin-bottom: 20px;
}
.text-center {
  text-align: center;
}



.coming-soon img {
  display: block;
  margin: 0 auto;
}
