.mfp-bg,
.mfp-wrap {
  z-index: 99999;
  width: 100%;
}
.mfp-bg,
.mfp-container,
.mfp-wrap {
  top: 0;
  left: 0;
  height: 100%;
}
.mfp-container::before,
.mfp-content {
  display: inline-block;
  vertical-align: middle;
}
.mfp-bg {
  background: #0b0b0b;
  opacity: 0.85;
  overflow: hidden;
  position: fixed !important;
}
.mfp-wrap {
  outline: 0 !important;
  position: fixed;
}
.mfp-container,
.mfp-content {
  margin: 0 auto;
  position: relative;
}
.mfp-container {
  box-sizing: border-box;
  padding: 0 8px;
  text-align: center;
  max-width: 640px;
  right: 0;
}
.mfp-container::before {
  content: "";
  height: 100%;
}
.mfp-content {
  text-align: left;
  z-index: 1045;
}
.mfp-ajax-holder .mfp-content,
.mfp-inline-holder .mfp-content {
  cursor: auto;
  width: 100%;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-arrow,
.mfp-close,
.mfp-counter,
.mfp-preloader {
  -moz-user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #ccc;
  left: 8px;
  margin-top: -0.8em;
  position: absolute;
  right: 8px;
  text-align: center;
  top: 50%;
  width: auto;
  z-index: 1044;
}
.mfp-preloader a {
  color: #ccc;
}
.mfp-close,
.mfp-preloader a:hover {
  color: #fff;
}
.mfp-s-error .mfp-content,
.mfp-s-ready .mfp-preloader {
  display: none;
}
button.mfp-arrow,
button.mfp-close {
  background: rgba(0, 0, 0, 0);
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  outline: 0;
  overflow: visible;
  padding: 0;
  z-index: 1046;
}
.mfp-figure::after,
.mfp-iframe-scaler iframe {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  left: 0;
  position: absolute;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.mfp-close {
  font-family: Arial, Baskerville, monospace;
  font-size: 28px;
  font-style: normal;
  height: 44px;
  line-height: 44px;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 44px;
}
.mfp-close:focus,
.mfp-close:hover {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}
.mfp-close-btn-in .mfp-close {
  color: #333;
}
.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
  color: #fff;
  padding-right: 6px;
  right: -6px;
  text-align: right;
  width: 100%;
}
.mfp-counter {
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
}
.mfp-figure,
img.mfp-img {
  line-height: 0;
}
.mfp-arrow {
  height: 70px;
  margin: 0;
  opacity: 0.65;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 90px;
}
.mfp-arrow:active {
  margin-top: 0;
}
.mfp-arrow:focus,
.mfp-arrow:hover {
  opacity: 1;
}
.mfp-arrow .mfp-a,
.mfp-arrow .mfp-b,
.mfp-arrow::after,
.mfp-arrow::before {
  border: inset transparent;
  content: "";
  display: block;
  height: 0;
  left: 0;
  margin-left: 35px;
  margin-top: 35px;
  position: absolute;
  top: 0;
  width: 0;
}
.mfp-arrow .mfp-a,
.mfp-arrow::after {
  border-bottom-width: 8px;
  border-top-width: 8px;
  top: 6px;
}
.mfp-arrow .mfp-b,
.mfp-arrow::before {
  border-bottom-width: 14px;
  border-top-width: 14px;
  opacity: 0.7;
}
.mfp-arrow-left .mfp-a,
.mfp-arrow-left::after {
  border-right: 11px solid #fff;
  margin-left: 31px;
}
.mfp-arrow-left .mfp-b,
.mfp-arrow-left::before {
  border-right: 20px solid #3f3f3f;
  margin-left: 25px;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right .mfp-a,
.mfp-arrow-right::after {
  border-left: 11px solid #fff;
  margin-left: 38px;
}
.mfp-arrow-right .mfp-b,
.mfp-arrow-right::before {
  border-left: 20px solid #3f3f3f;
}
.mfp-iframe-holder {
  padding-bottom: 40px;
  padding-top: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  max-width: 900px;
  width: 100%;
}
.mfp-image-holder .mfp-content,
img.mfp-img {
  max-width: 100%;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
.mfp-iframe-scaler {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
}
.mfp-iframe-scaler iframe {
  background: #000;
  display: block;
  height: 100%;
  top: 0;
  width: 100%;
}
.mfp-figure::after,
img.mfp-img {
  height: auto;
  width: auto;
  display: block;
}
img.mfp-img {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 0;
}
.mfp-figure::after {
  background: #444;
  bottom: 40px;
  content: "";
  right: 0;
  top: 40px;
  z-index: -1;
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}
.mfp-bottom-bar {
  cursor: auto;
  left: 0;
  margin-top: -36px;
  position: absolute;
  top: 100%;
  width: 100%;
}
.mfp-title {
  color: #f3f3f3;
  line-height: 18px;
  padding-right: 36px;
  text-align: left;
  word-wrap: break-word;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure::after {
    bottom: 0;
    top: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 3px 5px;
    position: fixed;
    top: auto;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75);
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}
.mfp-ie7 .mfp-bottom-bar {
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
  width: 600px;
}
.mfp-ie7 .mfp-container {
  padding: 0;
}
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
.mfp-ie7 .mfp-close {
  padding-top: 0;
  right: 0;
  top: 0;
}
.mfp-title {
  padding-top: 10px;
  position: absolute;
  text-transform: capitalize;
}
#small-dialog,
.dialog-box,
.small-dialog {
  background: #fff;
  padding: 20px 30px;
  text-align: left;
  margin: 40px auto;
  position: relative;
}
.dialog-box,
.small-dialog {
  max-width: 1000px;
}
#small-dialog {
  max-width: 400px;
}
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg);
}
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  -o-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
}
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg);
}
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}
